@charset "UTF-8";
/* CSS Document */
body {
	font-size: small;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

div{
	max-width: 300px;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

.bono_img{
	width: 100%;
	height: auto;
}

.title{
	background-color:#624837;
	color:#FFFFFF;
}

.article{
	background-color:#FFD6AB;
}

.image{
	background-color:#DCAE7A;	
}

.link{
	background-color:#DAD095;	
}